{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark primary" >
    <div class="container-fluid">
      <!--  <a class="navbar-brand" href="https://skycaster.in/" target="_blank"><img
                src="//img1.wsimg.com/isteam/ip/b8ad8b19-572b-4c67-b35a-31de2ff3bdfb/Screenshot_2022-11-23_at_4.50.37_PM-removebg-p.png/:/rs=h:67,cg:true,m/qt=q:95"
                srcset="//img1.wsimg.com/isteam/ip/b8ad8b19-572b-4c67-b35a-31de2ff3bdfb/Screenshot_2022-11-23_at_4.50.37_PM-removebg-p.png/:/rs=w:138,h:67,cg:true,m/cr=w:138,h:67/qt=q:95, //img1.wsimg.com/isteam/ip/b8ad8b19-572b-4c67-b35a-31de2ff3bdfb/Screenshot_2022-11-23_at_4.50.37_PM-removebg-p.png/:/rs=w:277,h:134,cg:true,m/cr=w:277,h:134/qt=q:95 2x, //img1.wsimg.com/isteam/ip/b8ad8b19-572b-4c67-b35a-31de2ff3bdfb/Screenshot_2022-11-23_at_4.50.37_PM-removebg-p.png/:/rs=w:415,h:201,cg:true,m/cr=w:415,h:201/qt=q:95 3x"
                alt="Tensor Dynamics" data-ux="ImageLogo" data-aid="HEADER_LOGO_IMAGE_RENDERED" id="logo-1775"
                class="x-el x-el-img c1-1 c1-2 c1-2g c1-2f c1-w c1-u c1-t c1-v c1-2q c1-2r c1-2s c1-2t c1-1d c1-2u c1-2l c1-2m c1-2n c1-2o c1-2v c1-1t c1-b c1-c c1-2w c1-2x c1-13 c1-2y c1-2z c1-30 c1-31 c1-32 c1-33 c1-34 c1-35 c1-36 c1-37 c1-38 c1-d c1-39 c1-3a c1-3b c1-e c1-f c1-g"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
       <!-- <span class="navbar-toggler-icon"></span> 
	</button>-->
	<a href= "{% url 'homepage'%}" class="navbar-brand" style="width:10%">
		<img src = "{% static 'skycaster.png'  %}" style="width:100%"  />
	</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% for group_for in request.user.groups.all %}
                        {% if group_for.name == 'Admin' %}
                            <a class="nav-link {% if request.resolver_match.url_name == 'admin_home' %}active{% endif %}"
                               aria-current="page" href="{% url 'admin_home' %}">Admin Home</a>
                            {#                        {% elif group_for.name == 'Client' %}#}
                            {#                            <a href="{% url 'logout_client' %}" class="btn btn-small btn-warning">Logout</a>#}
                        {% endif %}
                    {% endfor %}

                </li>
                <li class="nav-item">
                   <!-- <a class="nav-link {% if request.resolver_match.url_name == 'homepage' %}active{% endif %}"
			   aria-current="page" href="{% url 'homepage' %}">Homepage</a> -->
                    {#                    {{ request.resolver_match.url_name }}#}
                </li>
                <li class="nav-item">
                    <a class="nav-link
{% if request.resolver_match.url_name == 'forecast_tabular' %}active{% endif %}" href="{% url 'forecast_tabular' %}">Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link
{% if request.resolver_match.url_name == 'overview' %}active{% endif %}" href="{% url 'overview' %}">Overview
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link
{% if request.resolver_match.url_name == 'forecast_warning' %}active{% endif %}" href="{% url 'forecast_warning' %}">Forecast
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link
{% if request.resolver_match.url_name == 'warnings' %}active{% endif %}" href="{% url 'warnings' %}">Cloud Warning</a>
                </li>
            </ul>
{#            {% if user.is_authenticated %}#}
                {% for group_for in request.user.groups.all %}
                    {% if group_for.name == 'Client' %}

                        {% if user.logos != "None" %}
                            <span class="btn light_se mx-4">
                                <img src="/media/{{ user.logos }}" alt="" style="max-height: 50px">
                            </span>

                            {% endif %}
                        <a href="{% url 'logout_client' %}" class="btn btn-small btn-warning">Logout</a>

                    {% else %}
                        <a href="{% url 'logout' %}" class="btn btn-small btn-danger">Logout</a>
                    {% endif %}
                {% endfor %}

{#            {% endif %}#}
        </div>
    </div>
</nav>

<div class="container-fluid">
    {% include 'weatherapp/message_box.html' %}
</div>
