{% extends 'weatherapp/base.html' %}

{% block title_block %}
    Forecast Warnings
{% endblock %}
{% block style_block %}

    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>#}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block content_block %}
    {% include 'weatherapp/admin_nav.html' %}
{% include 'weatherapp/skycaster_logo.html' %}
    <div class="container-fluid py-2">
        <div class="row mx-0">
            <div class="col-11 mx-auto">
                <div class="row">
                    <div class="col-3 py-2">
                        <label for="site_select" class="strong">Select Site</label>
                        <select name="site_select" id="site_select" class="form-select">
                        </select>
                    </div>
                    <div class="col-3 py-2">
                        <label for="start_date" class="strong">Start Date</label>
                        <input type="date" id="start_date" class="form-control">
                    </div>
                    <div class="col-3 py-2">
                        <label for="end_date" class="strong">End Date</label>
                        <input type="date" id="end_date" class="form-control">
                    </div>
                    <div class="col-3 py-2">
                        <label for="variable" class="strong">Variable</label>
                        <select name="variable" id="variable" class="form-select">
                            <option value="ghi">GHI (W/m2)</option>
                            <option value="temp">Temperature</option>
                            <option value="wind_speed">Wind Speed</option>
                        </select>
                    </div>
                </div>
                <div class="card figure_cards">
                    <div class="card-header">
                        <h4 class="text-center mb-0">
                            Forecast                        </h4>
                    </div>
                    <div class="card-body">
                        {% include 'weatherapp/loading.html' %}
                        <div class="figure_div w-100" id="canvas_section1"></div>
                    </div>
                </div>

                <div class="py-2"></div>

                <div class="card figure_cards">
                    <div class="card-header">
                        <h4 class="text-center mb-0">
                            Deviation
                        </h4>
                    </div>
                    <div class="card-body">
                        {% include 'weatherapp/loading.html' %}
                        <div class="figure_div w-100" id="canvas_section2"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $('.center').hide();
            $('.diagram_title').hide();
            let now = new Date();
            {#let today = now.getFullYear() + '/' + (now.getMonth() + 1) + '/' + (now.getDay()-1);#}
            {#console.log(today);#}
            {#$('#start_date').val(today);#}
           // let last_twenty_days = new Date(now.setDate(now.getDate() - 25));
            let last_twenty_days = new Date(now.setDate(now.getDate()));
            let mom_date = moment(last_twenty_days).format("YYYY-MM-DD");
            {#console.log(yesterday)#}
            $('#start_date').val(mom_date);

            // Setting Two days Buffer
            let next_two_says = new Date(last_twenty_days.setDate(last_twenty_days.getDate() + 3))
            next_two_says = moment(next_two_says).format("YYYY-MM-DD");
            $('#end_date').val(next_two_says);
            $('#variable').val();

            let selected_option = "";
            let start_date = "";
            let end_date = "";

            function get_min_date() {

            //    $.ajax({
              //      url: "",
                //    dataType: 'json',
                  //  async: false,
                  //  data: {'site': $('#site_select').val(), 'variable': $('#variable').val()},
                    //success: function data() {

                    //}
                //})
            }

            function get_site_data() {
                {#$('.center').show()#}
                $.ajax({
                    url: "{% url 'get_sites' %}",
                    dataType: 'json',
                    async: false,

                    data: {'username': '{{ user.username }}', 'group': '{{ user.groups.all.0 }}'},
                    success: function (data) {
                        {#console.log(data)#}
                        let sites = data.data;
                        let counter = 1;
                        for (s in sites) $('#site_select').append(
                            "<option value='" + sites[s].site_name + "'" + (sites[s].site_name ===
                            'Hisar' ? "selected" : "") + " >" + sites[s].site_name + "</option>"
                        );
                    },


                }).done(function () {
                    selected_option = $("#site_select").val();
                    start_date = $('#start_date').val();
                    end_date = $('#end_date').val();
                    {#console.log(selected)#}
                });

            }

            get_site_data();
            let counter = 0;
            {#console.log(selected_option);#}

            function get_plotly() {
                $('.center').show();
                $('.figure_div').hide();
                if (selected_option != "") {
                    $.ajax({
                        url: '{% url "get_fw_data" %}',
                        beforeSend: function () {
                            $('.center').show()
                        },
                        data: {
                            'username': '{{ user.username }}',
                            'group': '{{ user.groups.all.0 }}',
                            'site_name': $('#site_select').val(),
                            'start_date': $('#start_date').val(),
                            'end_date': $('#end_date').val(),
                            'variable': $('#variable').val(),
                        },
                        success: function (data, status) {
                            {#console.log(status)#}
                            {#console.log(data.data)#}
                            $('.figure_div').show()
                            $('.center').hide()
                            var graphs = JSON.parse(data.data);
                            Plotly.newPlot("canvas_section1", graphs, {})

                            var graph2 = JSON.parse(data.deviation);
                            Plotly.newPlot("canvas_section2", graph2, {})

                        }
                    })
                }
            }

            get_plotly();

            $('#variable').unbind('change').change(function () {
                {#console.log($(this).val())#}

                get_plotly();

            })
            $('#site_select').unbind('change').change(function () {
                console.log($(this).val())

                get_plotly();

            })
            $('#start_date').unbind('change').change(function () {
                console.log($(this).val())

                get_plotly();

            })
            $('#start_date').unbind('change').change(function () {
                {#console.log($(this).val())#}
                let some_date = moment($(this).val())
                some_date = new Date(some_date)
                let next_two_says = new Date(some_date.setDate(some_date.getDate() + 3))
                next_two_says = moment(next_two_says).format("YYYY-MM-DD");
                $('#end_date').val(next_two_says);
                get_plotly();

            })
        });
    </script>
{% endblock %}